@keyframes homeInfo {
  0%{
    transform: translateX(-1000px);
  }
  100%{
    transform: translateX(0px);
  }
}
@keyframes homeImg {
  0%{
    transform: translateX(1000px);
  }
  100%{
    transform: translateX(0px);
  }
}

@keyframes skillBar {
  0%{
    width: 0;
  }
  100%{

  }
}

@keyframes projBtns {
  0%{}

  100%{
    background-color:  rgb(7, 207, 174);
  }
}

body{
  color: aliceblue;
}

nav{
  background-color: rgba(3, 12, 21, 0.464);
  border-bottom: solid 1px rgb(72, 73, 73);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  position: fixed;
  top: 0%;
  width: 100vw;
  height: 15vw;
  max-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
}

nav div h2{
  margin-left: 3vw;
}

#navBtnsDiv{
  width: 50%;
  max-width: 350px;
  display: flex;
  justify-content: space-between;
}

.navBtns{
  height: 7vw;
  background: none;
  border: none;
  cursor: pointer;
  font-size: clamp(12px,3vw,20px);
  color: silver;
}
.navBtns:hover{
  color: aliceblue;
}

#getTouch{
  margin-right: 3vw;
  width: 15vw;
  max-width: 120px;
  height: 4vh;
  min-height: 40px;
  border-radius: 10px;
  border: none;
  background-color: rgb(7, 207, 174);
  cursor: pointer;
  font-size: clamp(12px,3vw,18px);
}
#getTouch:hover{
  background-color: rgba(7, 207, 174, 0.737);
}





#homeSec{
  display: flex;
  height: 100vh;
  background-color: rgb(3, 12, 21);
  padding-bottom: 5vh;
}

#homeDiv{
  display: flex;
  height: 35vh;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  min-width: 100px;
  max-width: 1400px;
  margin-top: 20vh;
  margin-left: auto;
  margin-right: auto;
}

#homeInfoDiv{
  width: 40vw;
  min-width: 390px;
  max-width: 600px;
  margin-left: 3vw;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 2vw;
  animation: homeInfo 0.5s;
}

#homeImgDiv{
  width: 40vw;
  height: 22vh;
  min-width: 400px;
  max-width: 600px;
  margin-right: 3vw;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  animation: homeImg 0.5s ;
}

#role{
  color: rgb(7, 207, 174);
}
#homeHi{
  margin-bottom: 0px;
}
#homeName{
  color: rgb(7, 207, 174);
  margin-top: 0px;
}

#homeImgDiv img{
  border-radius: 50%;
  border: solid 3px rgb(7, 207, 174);
  box-shadow: 2px 2px 50px rgba(7, 207, 174, 0.32);
  width: 220px;
  height: 220px;
}
#homeInfoDiv p{
  font-size: clamp(13px,3vw,19px);
}

#homeBtns{
  display: flex;
  gap: 15px;
}

#homeViewBtn{
  background-color: rgb(7, 207, 174);
  width: 40%;
  height: 3vh;
  min-height: 40px;
  max-width: 160px;
  border-radius: 13px;
  cursor: pointer;
  border: solid 1px rgba(73, 73, 73, 0.854);
  font-size: clamp(12px,3vw,16px);
}

#homeContactBtn{
  background: none;
  color: aliceblue;
  box-shadow: 1px 1px 2px rgb(0, 0, 0);
  width: 40%;
  height: 3vh;
  min-height: 40px;
  max-width: 160px;
  border-radius: 13px;
  cursor: pointer;
  border: solid 1px rgba(73, 73, 73, 0.854);
  font-size: clamp(12px,3vw,16px);
}

#homeIconsDiv{
  width: 60%;
  margin-top: 1.5vh;
  display: flex;
  gap: 15px;
}

#homeIconsDiv button{
  width: 40px;
  cursor: pointer;
  color: aliceblue;
  background:none;
  border: 0;
}

#homeIconsDiv button:hover{
  color: rgb(7, 207, 174);
}

@media (max-width: 816px){
  #homeImgDiv{
    margin-top: 7vh;
  }
}




#aboutSec{
  background-color: rgb(11, 23, 34);
  padding-top: 4vh;
  padding-left: 4vw;
  padding-right: 4vw;
  padding-bottom: 4vh;
}

#aboutSec h1{
  color:  rgb(7, 207, 174);
}
#aboutText{
  width: 100%;
  max-width: 600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 1vh;
}
#aboutSec h1{
  margin-top: 0%;
  font-size: clamp(25px,4vw,39px);
}

#aboutSec h5{
  font-size: clamp(10px,3vw,20px);
}

#aboutSec h1{
  text-align: center;
}

#allSkills{
  width: 80%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 6vw;
  padding-bottom: 5vh;
}

#skillDiv{
  width: 40%;
}

#skillNameDiv{
  display: flex;
  justify-content: space-between;
  width: 100%;
  font-size: clamp(12px,3vw,18px);
}

#skillFull{
  background-color: rgba(43, 92, 226, 0.141);
  height: 1vh;
  width: 100%;
  border-radius: 10px;
}

#skillCurrent{
  background-color:  rgb(7, 207, 174);
  height: 1vh;
  border-radius: 10px;
  animation: skillBar 0.5s ;
}

#allCertiDiv{
  width: 90%;
  max-width: 1200px;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2vw;
}

#certDiv{
  background-color: rgb(11, 23, 34);
  width: 47%;
  height: 28vh;
  text-align: center;
  padding-top: 2vh;
  border: 1px solid rgba(175, 175, 175, 0.394);
  border-radius: 12px;
  box-shadow: 1px 1px 10px  rgb(7, 207, 174, 0.095);
  cursor: pointer;
  transition: transform 0.5s ease;
}

#certDiv:hover{
  transform:  translateY(-10px);
}

#certDiv img{
  width: 90%;
  height: 20vh ;

  border-radius: 12px;
}

#certName{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 6vh;
}

#certName p{
  font-size: clamp(9px,2vw,25px);
}

#proSec{
  background-color: rgb(3, 12, 21);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 5vh;
}

#allProj{
  width: 80%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 2vh;
  gap: 3vw;

}
#proSec h1{
  margin-top: 4vh;
  color:  rgb(7, 207, 174);
  
}

#projDiv{
  background-color: rgb(11, 23, 34) ;
  width: 45%;
  max-width: 500px;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  text-align: center;
  cursor: pointer;
  border: 1px solid rgba(80, 80, 80, 0.194);
  box-shadow: 1px 1px 10px black;
}

#projDiv:hover{
  animation: projBtns 0.3s forwards;
}

#projDiv p{
  font-size: clamp(10px,2vw,30px);
}



#touchSec{
  background-color: rgb(11, 23, 34);
  display: flex;
  flex-direction: column;
  align-items: center;
}

#touchSec h1{
  margin-top: 4vh;
 color:  rgb(7, 207, 174);
}

#touchCont{
  width: 80%;
  height: 10vh;
  max-width: 1000px;
  margin-top: 2vh;
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 1.5vw;
}

#touchCont button{
  width: 16%;
  height: 7vh;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(3, 12, 21);
  color: aliceblue;
  border: solid 1px rgba(119, 119, 119, 0.479);
  border-radius: 12px;
}

#touchCont button:hover{
  border: solid 1px  rgb(7, 207, 174);
}
#touchCont p{
  font-size: clamp(10px,2vw,16px);
  margin-top: 0.5vh;
  margin-bottom: 0;
}

